# Credentials and Secrets
.env

# Python Compiled Files
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/

# System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Editor Directories
.vscode/
.idea/

*.jpg
